{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div style="overflow: hidden;" class="auth-container">
<div class="auth-card">
  <h1>Reset Password</h1>
  <p>Enter your email and we’ll send you a reset link.</p>

  <form method="post">
    {% csrf_token %}
    {{ form.email }}

    <button class="btn btn-primary">Send Reset Link</button>
  </form>
</div>
</div>
{% endblock %}
